 {%include 'base.html' %}


<div class="row mt-3 ml-3">
    <div class="col-md-2">
        <div class="list-group ml-3 px-2">
            <a href="/" class="list-group-item list-group-item-action active">
              All Images
            </a>
            {% for item in catagories %}
            <a href="/catagory/{{item.pk}}" class="list-group-item list-group-item-action">{{item.title}}</a>
            {% endfor %}
          </div>
    </div>
    <div class="col-md-10">
            <div class="col-md-12">
                <div class="card-columns">
                    {% for item in images %}
                    <div class="card">
                        <img class="card-img-top" src="/media/{{item.image}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{item.title}}</h5>
                          <p class="card-text">{{item.description}}</p>
                          <p><a href="{{item.url}}">View Assets</a></p>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>

  

